<div id="member-project-main-container">
  <h1 class="project-member-name">
    {{ member.profile.firstName }} {{ member.profile.lastName }}'s Projects
  </h1>
  <div class="member-project-card">
    <div *ngFor="let project of userProjects" class="project-card-container">
      <div class="project-details-container">
        <h2 class="project-name">Project: {{ project.name }}</h2>
        <p class="project-description">
          Description: {{ project.description }}
        </p>
      </div>
    </div>
  </div>
</div>
